@model Shopping.Entities.Product
@{
    ViewData["Title"] = "ViewProduct";
}

    <a asp-action="ViewProducts"><i class="material-icons">arrow_back</i></a>

<h1>@Model.ProductName</h1>

<h2>$@Model.UnitPrice per Unit</h2>

<h3>@Model.QuantityAtHand Available</h3>

<form asp-action="UpdateProduct" method="post">
    <label>Update Quantity</label>
    <input type="number" asp-for="@Model.Id" hidden value="@Model.Id" />
    <input type="number" asp-for="@Model.UnitPrice" hidden value="@Model.UnitPrice" />
    <input asp-for="@Model.ProductName" hidden value="@Model.ProductName" />

    <input type="number" asp-for="@Model.QuantityAtHand" value="@Model.QuantityAtHand" />
    <input class="btn btn-dark" type="submit" value="Update" />
</form>
