@model Shopping.Models.IndexViewModel
@{
    ViewData["Title"] = "Index";
}

    <div class="row">
        <div class="col-5 offset-3">
            <div class="row">
                <a class="col-4 btn btn-light" asp-action="ViewOrders">Orders</a>
                <a class="col-4 btn btn-light" asp-controller="Products" asp-action="ViewProducts">Products</a>
                <a class="col-4 btn btn-light" asp-controller="Customers" asp-action="AddCustomer">Customer</a>
            </div>
        </div>
    </div>

<h1>Add Order</h1>


<form  action="" method="post" autocomplete="off">
    <div class="row">
        <div class="form-group col-md-6">
            <label class="form-control" asp-for="@Model.AssociatedCustomer">Customer</label>

            <div class="autocomplete">
                <select hidden name="customerId">
                    @foreach (var customer in Model.Customers)
                    {
                        <option value="@customer.Id">@customer.Name</option>
                    }
                </select>
                <input id="customer-input" class="form-control autocomplete-text" type="text" />
                <select hidden class="autocomplete-dropdown form-control">
                    <option disabled value="0">Select Customer</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="form-control" for="data">Date</label>
            <input class="form-control" name="date" id="date-picker" type="date" />
        </div>
    </div>

    <table class="table">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
        <tbody id="line-item-container">
            @if (Model.LineItems != null)
            {
                @for (int i = 0; i < Model.LineItems.Count; i++)
                {
                    <tr>
                        <td><input type="hidden" value="@Model.LineItems[i].Product.Id" name="[@i].product.id" /> @Model.LineItems[i].Product.ProductName</td>
                        <td><input type="number" max="@Model.LineItems[i].Quantity" value="@Model.LineItems[i].Quantity" name="[@i].quantity" /></td>
                        <td><input type="hidden" value="@Model.LineItems[i].Total" name="[@i].total" /> @Model.LineItems[i].Total</td>
                        <td><button class="btn btn-danger">Remove</button></td>
                    </tr>
                }
            }
            @*<tr>
                <td><input type="hidden" value="2" name="[0].product.id" /> Carrots</td>
                <td><input type="hidden" value="12" name="[0].quantity" />12</td>
                <td><input type="hidden" value="120" name="[0].total" />120</td>
                <td><button>Remove</button></td>
            </tr>
            <tr>
                <td><input type="hidden" value="1" name="[1].product.id" /> Maggots</td>
                <td><input type="hidden" value="12" name="[1].quantity" />2</td>
                <td><input type="hidden" value="120" name="[1].total" />240</td>
                <td><button>Remove</button></td>
            </tr>*@
        </tbody>
        <tr>
            <td>
                <div class="autocomplete">
                    <select hidden class="dropdown" id="product-picker" name="productId">
                        @foreach (var product in Model.Products)
                        {
                            <option class="dropdown-item" data-product-name="@product.ProductName" data-unit-price="@product.UnitPrice" data-unit-quantity="@product.QuantityAtHand"
                                    value="@product.Id">
                                @product.ProductName
                            </option>
                        }
                    </select>
                    <input id="product-input" class="form-control autocomplete-text" type="text" />
                    <select hidden class="autocomplete-dropdown form-control">
                        <option disabled value="0">Select Product</option>
                    </select>
                </div>
            </td>
            <td><div class="form-group row"><input class="form-control col-md-8" min="1" id="quantity-input" type="number" name="quantity" /></div></td>
            <td><h4 id="quantity-output"></h4></td>
            <td><button id="add-line-item" class="btn btn-dark">Add</button></td>
        </tr>
        <tr>
            <td>
                <h2 class="text-center">Grand Total </h2>
            </td>
            <td></td>
            <td><h2> $<span id="total-output">0</span></h2></td>
            <td></td>
        </tr>
    </table>


    <div class="row">
        <div class="col-4 offset-5">
            <div class="input-group">
                <input class="btn btn-success input-group-btn" id="submit-button" value="Save" type="submit" />

            </div>

        </div>
    </div>
</form>

<script src="~/js/cartEditor.js"></script>

