@model Shopping.ViewModels.OrdersViewModel
@{
    ViewData["Title"] = "All Orders";
}


<a class="btn btn-link" asp-action="Index"><i class="material-icons">arrow_back</i></a>

@if (Model.SuccessfullyAdded)
{
    <div class="bg-success" id="success-text">
        <h4 class="text-center text-white">Order Successfully Added</h4>
    </div>
}
@if (Model.SuccessfullyDeleted)
{
    <div class="bg-danger" id="delete-text">
        <h4 class="text-center text-white">Order Successfully Deleted</h4>
    </div>
}
@if (Model.SuccessfullyUpdated)
{
    <div class="bg-success" id="update-text">
        <h4 class="text-center text-white">Existing Order Found, New Items have been Added to Order</h4>
    </div>
}

<h4>Orders</h4>
<form asp-action="ViewOrdersForCustomer" method="get">
    <div class="m-2 row">
        <div class="col-5 offset-3">
            <h5><i class="material-icons">search</i> For Customer @Model.SelectedCustomerName</h5>
            <div class="autocomplete">
                <select hidden name="customerId">
                    @foreach (var customer in Model.Customers)
                    {
                        <option value="@customer.Id">@customer.Name</option>
                    }
                </select>
                <input class="form-control autocomplete-text" type="text" />
                <select hidden class="autocomplete-dropdown form-control">
                    <option value="0">Select Customer</option>
                </select>
            </div>

            <input type="submit" class="m-1 btn btn-success" value="Search" />
            <a class="btn btn-primary" asp-action="ViewOrders">All</a>
        </div>
    </div>
</form>

@if (Model.Orders.Count == 0)
{
    <h3>No Orders have been made by this Customer.</h3>
}

<div class="row">
    <div class="col-md-10 offset-1">
        <table class="table">
            <thead>
                <tr>
                    <td><a class="text-secondary" asp-action="ViewOrders" asp-route-sortBy="1">Customer<i class="material-icons">arrow_drop_down</i></a></td>
                    <td><a class="text-secondary" asp-action="ViewOrders" asp-route-sortBy="2">Amount<i class="material-icons">arrow_drop_down</i></a></td>
                    <td><a class="text-secondary" asp-action="ViewOrders" asp-route-sortBy="0">Date<i class="material-icons">arrow_drop_down</i></a></td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody class="text-capitalize">
                @foreach (var order in Model.Orders)
                {
                    <tr>
                        <td>
                            <h6>@order.Customer.Name </h6>
                        </td>
                        <td>
                            <h6>$@order.Total</h6>
                        </td>
                        <td>
                            <h6>@order.Date.ToShortDateString()</h6>
                        </td>
                        <td>
                            <a asp-action="ViewOrder" class="btn btn-secondary" asp-route-orderId="@order.Id"><i class="material-icons">edit</i></a>
                            <a asp-action="DeleteOrder" class="btn btn-warning" asp-route-orderId="@order.Id"><i class="material-icons">delete_forever</i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="col-md-5 offset-4">
            @if (Model.PageNumber != 0)
            {
                <a asp-action="ViewOrders" class="btn btn-dark" asp-route-sortBy="@Model.SortBy" asp-route-pageNumber="@(Model.PageNumber-1)"><i class="material-icons">keyboard_arrow_left</i></a>

            }
            <span class="p-2 bg-dark text-white ">@(Model.PageNumber + 1)</span>
            @if (Model.Next)
            {
                <a asp-action="ViewOrders" class="btn btn-dark" asp-route-sortBy="@Model.SortBy" asp-route-pageNumber="@(Model.PageNumber+1)"><i class="material-icons">keyboard_arrow_right</i></a>
            }
        </div>

    </div>
</div>

<script>
    var successText = document.getElementById("success-text")
    setTimeout(() => {
        successText.hidden = true
    }, 8000);
    var deleteText = document.getElementById("delete-text")
    setTimeout(() => {
        deleteText.hidden = true
    }, 8000);
    
    var updateText = document.getElementById("update-text")
    setTimeout(() => {
        updateText.hidden = true
    }, 8000);
</script>
