@model Shopping.Models.OrdersViewModel
@{
    ViewData["Title"] = "All Orders";
}


<a class="btn btn-link" asp-action="Index">Back</a>

@if (Model.SuccessfullyAdded)
{
    <div class="bg-success" id="success-text">
        <h4 class="text-center text-white">Order Successfully Added</h4>
    </div>
}
@if (Model.SuccessfullyDeleted)
{
    <div class="bg-danger" id="delete-text">
        <h4 class="text-center text-white">Order Successfully Deleted</h4>
    </div>
}

<h1>Orders</h1>
<form asp-action="ViewOrdersForCustomer" method="get">
    <div class="row">
        <div class="col-5 offset-3">
            <h5>For Customer @Model.SelectedCustomerName</h5>
            <div class="autocomplete">
                <select hidden name="customerId">
                    @foreach (var customer in Model.Customers)
                    {
                        <option value="@customer.Id">@customer.Name</option>
                    }
                </select>
                <input class="form-control autocomplete-text" type="text" />
                <select hidden class="autocomplete-dropdown form-control">
                    <option value="0">Select Customer</option>
                </select>
            </div>
            <input type="submit" class="btn btn-success" value="Search" />
            <a class="btn btn-primary" asp-action="ViewOrders">All</a>
        </div>
    </div>
</form>

@if (Model.Orders.Count == 0)
{
    <h3>No Orders have been made by this Customer.</h3>
}

<div class="row">
    <div class="col-md-10 offset-1">
        <table class="table">
            <thead>
                <tr>
                    <td><a class="text-secondary" asp-action="ViewOrders" asp-route-sortBy="Customer">Customer</a></td>
                    <td><a class="text-secondary" asp-action="ViewOrders" asp-route-sortBy="Total">Amount</a></td>
                    <td><a class="text-secondary" asp-action="ViewOrders" asp-route-sortBy="Latest">Date</a></td>
                    <td>Actions</td>
                </tr>
            </thead>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>
                        <h3>@order.Customer.Name </h3>
                    </td>
                    <td>
                        <h4> $@order.Total</h4>
                    </td>
                    <td>
                        <h5>@order.Date.ToShortDateString()</h5>
                    </td>
                    <td>
                        <a asp-action="ViewOrder" class="btn btn-secondary" asp-route-orderId="@order.Id">Edit</a>
                        <a asp-action="DeleteOrder" class="btn btn-warning" asp-route-orderId="@order.Id">Delete</a>
                    </td>
                </tr>
            }
        </table>
        <div class="col-md-5 offset-2">
            @if (Model.PageNumber != 0)
            {
                <a asp-action="ViewOrders" class="btn btn-dark" asp-route-sortBy="@Model.SortBy" asp-route-pageNumber="@(Model.PageNumber-1)">Back</a>

            }
            <span class="bg-dark text-white ">@(Model.PageNumber + 1)</span>
            @if (Model.Next)
            {
                <a asp-action="ViewOrders" class="btn btn-dark" asp-route-sortBy="@Model.SortBy" asp-route-pageNumber="@(Model.PageNumber+1)">Next</a>
            }
        </div>

    </div>
</div>

<script>
    var successText = document.getElementById("success-text")
    setTimeout(() => {
        successText.hidden = true
    }, 5000);
    var deleteText = document.getElementById("delete-text")
    setTimeout(() => {
        deleteText.hidden = true
    }, 5000);
</script>
