@model Shopping.ViewModels.OrderViewModel
@{
    ViewData["Title"] = "View Order";
    int lineIdCount = 0;
}

<a asp-action="ViewOrdersForCustomer" asp-route-customerId="@Model.Order.Customer.Id">Show All</a>
@if (Model.SuccessfullyUpdated)
{
    <div class="bg-success" id="update-text">
        <h4 class="text-white text-center">Successfully Updated</h4>
    </div>
}
<h2>Order for @Model.Order.Customer.Name on  @Model.Order.Date.ToShortDateString()</h2>

<a data-toggle="tooltip" title="Delete Order" class="btn btn-secondary col-1.5 offset-10" asp-action="DeleteOrder" asp-route-orderId="@Model.Order.Id">
    <i class="material-icons">delete_forever</i></a>

<form asp-action="UpdateOrder" method="post" autocomplete="off">
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Total ($)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="edit-form-container">
            <tr id="editing-form-field" class="bg-dark">
                <td>
                    <h6 class="text-white text-center"></h6>
                </td>
                <td><input id="quantity-input-edit" type="number" name="quantity" /><input type="hidden" value="0" name="lineId" /></td>
                <td><i class="btn btn-light material-icons" id="edit-line-item">edit</i></td>
            </tr>
        <tbody id="line-item-container">
            @foreach (var item in Model.LineItems)
            {
                <tr class="editable-item" data-line-item-id="@item.Id" data-product-quantity="@item.Product.QuantityAtHand" data-product-name="@item.Product.ProductName" data-product-price="@item.Product.UnitPrice" data-product-id="@item.Product.Id">

                    <td><input type="hidden" value="@item.Product.Id" name="[@lineIdCount].product.id" /><p>@item.Product.ProductName</p><input type="hidden" value="@item.Id" name="[@lineIdCount].id" /></td>
                    <td><input type="hidden" value="@item.Quantity" name="[@lineIdCount].quantity" /><p>@item.Quantity</p></td>
                    <td><input type="hidden" value="@item.Total" name="[@lineIdCount].total" /><p>@item.Total</p></td>
                    <td>
                        <i class="material-icons btn btn-danger remove-button">remove</i>
                    </td>
                </tr>

            }
        </tbody>
        <tr>
            <td>
                <div class="autocomplete">
                    <select hidden class="dropdown" id="product-picker-new" name="productId">
                        @foreach (var product in Model.Products)
                        {
                            <option class="dropdown-item" data-product-name="@product.ProductName" data-unit-price="@product.UnitPrice" data-unit-quantity="@product.QuantityAtHand"
                                    value="@product.Id">
                                @product.ProductName
                            </option>
                        }
                    </select>
                    <input id="product-input" class="form-control autocomplete-text" type="text" />
                    <select id="product-select" hidden class="autocomplete-dropdown form-control">
                        <option disabled value="0">Select Product</option>
                    </select>
                </div>
            </td>
            <td><div class="form-group row"><input class="form-control col-md-8" min="1" id="quantity-input-new" type="number" name="quantity" /></div></td>
            <td><h4 id="quantity-output"></h4></td>
            <td><button id="add-line-item" class="btn btn-primary"><i class="material-icons">add</i></button></td>
        </tr>

        <tfoot>
            <tr>
                <td><h4>Grand Total </h4></td>
                <td></td>
                <td><h4 id="total-output">@Model.Order.Total</h4></td>
            </tr>
        </tfoot>
    </table>

    <div class="row">
        <div class="col-4 offset-5">
            <div class="input-group">
                <input type="hidden" value="@Model.Order.Id" name="orderID" />
                <input class="btn btn-success input-group-btn" id="submit-button" value="Save" type="submit" />
            </div>

        </div>
    </div>
</form>

<script src="~/js/editOrder.js"></script>
<script>
    var updateText = document.getElementById("update-text")
    setTimeout(() => {
        updateText.hidden = true
    }, 8000)
</script>