@model Shopping.Models.OrderViewModel
@{
    ViewData["Title"] = "View Order";
}

<a asp-action="ViewOrdersForCustomer" asp-route-customerId="@Model.Order.Customer.Id">Show All</a>
<h1>Customer - @Model.Order.Customer.Name</h1>
<h3>Date - @Model.Order.Date.ToShortDateString()</h3>

<a class="btn btn-warning text-right" asp-action="DeleteOrder" asp-route-orderId="@Model.Order.Id">Delete</a>

<form action="" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr id="editing-form-field">
                <td>
                    <div class="autocomplete">
                        <select hidden id="product-picker" name="productId">
                            @foreach (var product in Model.Products)
                            {
                                <option data-product-name="@product.ProductName" data-unit-price="@product.UnitPrice" data-unit-quantity="@product.QuantityAtHand"
                                        value="@product.Id">
                                    @product.ProductName
                                </option>
                            }
                        </select>
                        <input class="form-control autocomplete-text" type="text" />
                        <select hidden class="autocomplete-dropdown form-control">
                            <option value="0">Select Product</option>
                        </select>
                    </div>
                </td>
                <td><input id="quantity-input" type="number" name="quantity" /><input type="hidden" value="0" name="lineId" /></td>
                <td><button class="btn btn-info" id="edit-line-item" asp-action="UpdateLineItem">Edit</button></td>
            </tr>
            @foreach (var item in Model.LineItems)
            {
                <tr class="editable-item" data-line-item-id="@item.Id" data-product-price="@item.Product.UnitPrice" data-product-id="@item.Product.Id">
                    <td>@item.Product.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@item.Total</td>
                    <td>
                        @if(Model.LineItems.Count > 1)
                        {
                            <a class="btn btn-danger" asp-action="DeleteLineItemById" asp-route-lineId="@item.Id" asp-route-orderID="@item.Order.Id">Delete</a>
                        }
                    </td>
                </tr>

            }

        </tbody>
        <tfoot>
            <tr>
                <td><h4>Grand Total </h4></td>
                <td></td>
                <td><h4>@Model.Order.Total</h4></td>
            </tr>
        </tfoot>
    </table>


</form>

<script src="~/js/editOrder.js"></script>
